header {
	position: sticky;
	top: 0;
	background-color: white;
	padding-bottom: 10px;
	border-bottom: solid 2px chocolate;
}
h1 {
	display: flex;
	justify-content: center;
}
nav {
	display: flex;
	width: 100vw;
	justify-content: space-evenly;
}
nav a {
	text-decoration: none;
	color: rgb(190, 29, 29);
}
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form {
	width: 70vw;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.form input {
	margin-bottom: 10px;
}
.form select {
	margin-bottom: 10px;
}
.form button {
	margin-bottom: 20px;
}
.confirmation-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.confirmation {
	display: flex;
	flex-direction: column;
	width: 70vw;
}
.confirmation-name {
}
.confirmation-email {
}
.toppings-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.topping {
}
.confirmation-spec-instruct {
}
.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-container img {
	height: 600px;
	width: auto;
}
